################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Asteroids/copilot-chat/cb7fa0b5
/Saved
/Intermediate
/Binaries/Win64
/.vs
